@model IEnumerable<Rh_Web_app.Models.Vagas>

@{
    ViewData["Title"] = "index";

}

<h1>Vagas</h1>

<p id="btn btn-primary">
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-folder-plus"></i> Nova vaga</a>
</p>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                Id da vaga
            </th>
            <th>
                Nome da Vaga
            </th>
            <th>
               Descrição
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_vaga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NmVaga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    <i class="fas fa-edit"></i> @Html.ActionLink("Editar", "Edit", new { id = item.id_vaga }) |
                    <i class="fas fa-eye"></i> @Html.ActionLink("Detalhes", "Details", new { id = item.id_vaga }) |
                    <i class="fas fa-trash"></i> @Html.ActionLink("Deletar", "Delete", new { id = item.id_vaga })
                </td >
            </tr >
}
    </tbody>
</table>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.11.3/i18n/pt_br.json'
                }
            });
        });
    </script>
}
